name: hms

services:
  hms-ap:
    image: hms:1.0
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:mysql://home-db-mysql:3306/hms
    secrets:
      - mysql_user_password
    networks:
      - home_network
    restart: always
secrets:
  mysql_root_password:
    file: C:\\dev\\secrets\\mysql_root_password.txt
  mysql_user_password:
    file: C:\\dev\\secrets\\mysql_hms_user_password.txt

networks:
  home_network:
    external: true
