<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<nav layout:fragment="header" 
		class="navbar sticky-top bg-dark" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">HMS</a>
			<form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
				<button class="btn btn-link navbar-brand" type="submit">logout</button>
			</form>
		</div>
	</nav>
</body>
</html>