<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<ul layout:fragment="menu" class="list-unstyled">
		<li class="my-2">
			<button class="btn collapsed" data-bs-toggle="collapse"
				aria-expanded="false" data-bs-target="#hobby-collapse"
				aria-controls="hobby-collapse">Hobby</button>
			<ul class="list-unstyled ps-3 collapse" id="hobby-collapse">
                <li class="mb-2"><a class="text-decoration-none link-dark" th:href="@{'/music/list'}">Music</a></li>
				<li class="mb-2"><a class="text-decoration-none link-dark" th:href="@{'/artist/list'}">Artist</a></li>
				<li class="mb-2"><a class="text-decoration-none link-dark" th:href="@{'/author/list'}">Author</a></li>
			</ul>
		</li>
		<li sec:authorize="hasAuthority('ROLE_ADMIN')" class="my-2">
			<button
				class="btn d-inline-flex align-items-center border-0 collapsed"
				data-bs-toggle="collapse" aria-expanded="false"
				data-bs-target="#manage-collapse" aria-controls="manage-collapse">Manage</button>
			<ul class="list-unstyled ps-3 collapse" id="manage-collapse">
				<li><a class="text-decoration-none link-dark" th:href="@{'/user/list'}">User</a></li>
			</ul>
		</li>
	</ul>
</body>
</html>
