<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/layout}"
>
  <head> </head>

  <body>
    <ul layout:fragment="menu" class="list-unstyled">
      <li class="my-2">
        <button class="btn collapsed">パーソナル</button>
        <ul class="list-unstyled ps-3">
          <li class="mb-2">
            <a class="text-decoration-none link-dark" th:href="@{'/music/list'}"
              >音楽</a
            >
          </li>
          <li class="mb-2">
            <a class="text-decoration-none link-dark" th:href="@{'/book/list'}"
              >書籍</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-decoration-none link-dark"
              th:href="@{'/training/list'}"
              >トレーニング</a
            >
          </li>
          <li class="mb-2">
            <a class="text-decoration-none link-dark" th:href="@{'/movie/list'}"
              >動画</a
            >
          </li>
          <li class="mb-2">
            <a class="text-decoration-none link-dark" th:href="@{'/diary/list'}"
              >日報一覧</a
            >
          </li>
          <li class="mb-2">
            <a class="text-decoration-none link-dark" th:href="@{'/task/list'}"
              >タスク</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-decoration-none link-dark"
              th:href="@{'/company/list'}"
              >企業</a
            >
          </li>
        </ul>
        <button class="btn collapsed">リンク</button>
        <ul class="list-unstyled ps-3">
          <li class="mb-2">
            <a class="text-decoration-none link-dark" th:href="@{'/link/list'}"
              >外部リンク</a
            >
          </li>
        </ul>
      </li>
      <li
        sec:authorize="hasRole(T(com.tarosuke777.hms.enums.Role).ADMIN.name())"
        class="my-2"
      >
        <button class="btn d-inline-flex align-items-center border-0">
          管理
        </button>
        <ul class="list-unstyled ps-3">
          <li>
            <a class="text-decoration-none link-dark" th:href="@{'/user/list'}"
              >ユーザー</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </body>
</html>
