<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<title>BookRegister</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="mt-3 mb-3 border-bottom">
			<h1 class="h2">Book Register</h1>
		</div>
		<form method="post" th:action="@{/book/register}"
			th:object="${bookForm}">
			<div class="mb-3 row">
				<label for="bookName" class="col-sm-2 col-form-label">Book
					Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{bookName}"
						th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{bookName}"></div>
				</div>
			</div>
			<div class="mb-3 row">
				<label for="authorName" class="col-sm-2 col-form-label">Author
					Name</label>
				<div class="col-sm-10"
					th:insert="~{parts/parts :: select(${authorMap}, authorId, 'authorId', true)}">
				</div>
			</div>
			<div class="mb-3 row">
				<label for="bookName" class="col-sm-2 col-form-label">Link</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{link}"
						th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{link}"></div>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-dark" type="submit">Register</button>
			</div>
		</form>
	</div>
</body>
</html>