spring:
  config:
    import: optional:configtree:/run/secrets/
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/hms}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: hms
    password: ${mysql_user_password}
  flyway:
    locations: classpath:db/migration/ddl
    baseline-on-migrate: true
    baseline-version: 0
  h2:
    console:
      enabled: false
