spring:
  application:
    name: hms
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  messages:
    basename: ValidationMessages
  flyway:
    enabled: true
  ai:
    mcp:
      server:
        base-url: /hms
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

mybatis:
  mapper-locations: classpath*:/mapper/*.xml
  type-aliases-package: com.tarosuke777.hms.entity
  configuration:
    map-underscore-to-camel-case: true
server:
  servlet:
    context-path: /hms
    session:
      timeout: 8h
