spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;NON_KEYWORDS=USER;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  flyway:
    locations: classpath:db/migration/ddl,classpath:db/migration/data
  h2:
    console:
      enabled: true
