spring:
  application:
    name: hms
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  messages:
    basename: ValidationMessages
  flyway:
    enabled: true
  ai:
    mcp:
      server:
        base-url: /hms
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
  cloud:
    aws:
      parameterstore:
        enabled: false
server:
  servlet:
    context-path: /hms
    session:
      timeout: 8h
