server:
  port : 80
spring:
  config:
    import: aws-parameterstore:/config/hms/
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    locations: classpath:db/migration/ddl
  h2:
    console:
      enabled: false
 