<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <th:block layout:fragment="page-css">
      <link rel="stylesheet" th:href="@{/css/task/list.css}" />
    </th:block>

    <th:block layout:fragment="page-scripts">
      <script type="module" th:src="@{/js/task/list.js}"></script>
    </th:block>

    <title>タスク一覧</title>
  </head>

  <body>
    <div layout:fragment="content">
      <div class="mt-3 mb-3 border-bottom">
        <h1 class="h2">タスク一覧</h1>
      </div>
      <div class="row align-items-center mb-4 g-3">
        <div class="col-auto">
          <a class="btn btn-dark" th:href="@{'/task/register'}">新規登録</a>
        </div>
        <div class="col">
          <form
            th:action="@{/task/list}"
            method="get"
            class="row g-2 align-items-center"
          >
            <div class="col-auto">
              <select class="form-select" name="status">
                <option
                  th:each="g : ${T(com.tarosuke777.hms.enums.TaskStatus).values()}"
                  th:value="${g}"
                  th:text="${g.label}"
                  th:selected="${status != null and g.code == status.code}"
                ></option>
              </select>
            </div>

            <div class="col-auto">
              <button type="submit" class="btn btn-dark">検索</button>
              <a th:href="@{/task/list}" class="btn btn-secondary">リセット</a>
            </div>
          </form>
        </div>
      </div>

      <div th:if="${#lists.isEmpty(tasks)}">
        <p>タスクが見つかりませんでした。</p>
      </div>
      <div th:unless="${#lists.isEmpty(tasks)}">
        <div id="task-container" class="row">
          <div
            class="col-md-4 mb-4"
            draggable="true"
            th:each="task : ${tasks}"
            th:id="${'task-' + task.id}"
          >
            <div class="card h-100">
              <form
                method="post"
                th:action="@{/task/update}"
                th:id="${'updateForm-' + task.id}"
              >
                <input type="hidden" name="id" th:value="${task.id}" />
                <input
                  type="hidden"
                  name="version"
                  th:value="${task.version}"
                />
                <input type="hidden" name="searchStatus" th:value="${status}" />
                <div class="card-header">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    th:value="${task.name}"
                  />
                </div>
                <div class="card-body">
                  <textarea
                    name="note"
                    class="form-control"
                    rows="5"
                    th:text="${task.note}"
                  ></textarea>

                  <select name="status" class="form-select mt-2">
                    <option
                      th:each="status : ${T(com.tarosuke777.hms.enums.TaskStatus).values()}"
                      th:value="${status}"
                      th:text="${status.label}"
                      th:selected="${task.status == status}"
                    ></option>
                  </select>
                </div>
              </form>
              <div class="card-footer text-center">
                <button
                  type="submit"
                  class="btn btn-primary btn-sm"
                  th:form="${'updateForm-' + task.id}"
                >
                  更新する
                </button>
                <form
                  method="post"
                  th:action="@{/task/delete}"
                  style="display: inline-block"
                >
                  <input type="hidden" name="id" th:value="${task.id}" />
                  <input
                    type="hidden"
                    name="searchStatus"
                    th:value="${status}"
                  />
                  <button
                    type="submit"
                    class="btn btn-danger btn-sm"
                    onclick="
                      return confirm(
                        '本当にこのタスクを削除しますか？',
                      );
                    "
                  >
                    削除する
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script></script>
      <style></style>
    </div>
  </body>
</html>
