<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<title>TrainingMenuDetail</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="mt-3 mb-3 border-bottom">
			<h1 class="h2">Training Menu Detail</h1>
		</div>
		<form method="post" th:action="@{/trainingMenu/detail}"
			th:object="${trainingMenuForm}">
			<input type="hidden" th:field="*{trainingMenuId}">
			<div class="mb-3 row">
				<label for="trainingMenuName" class="col-sm-2 col-form-label">Training Menu
					Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{trainingMenuName}">
				</div>
			</div>
			<div class="mb-3 row">
				<label for="targetAreaName" class="col-sm-2 col-form-label">Target Area Name</label>
				<div class="col-sm-10"
					th:insert="~{parts/parts :: select(${targetAreaMap}, targetAreaId, 'targetAreaId', true)}">
				</div>
			</div>
			<div class="mb-3 row">
				<label for="link" class="col-sm-2 col-form-label">Link</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{link}">
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-danger" type="submit" name="delete">
					Delete</button>
				<button class="btn btn-dark" type="submit" name="update">
					Update</button>
			</div>
		</form>
	</div>
</body>
</html>