<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <title>Cast</title>
  </head>

  <body>
    <div layout:fragment="content">
      <div class="mt-3 mb-4 border-bottom pb-2">
        <h1 class="h2 mb-3">Movie Management</h1>

        <!-- タブメニュー -->
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/movie/list}">Movie</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active bg-dark text-white"
              th:href="@{/cast/list}"
              >Cast</a
            >
          </li>
        </ul>
      </div>
      <div>
        <div class="mb-2">
          <a class="btn btn-dark" th:href="@{'/cast/register'}">Register</a>
        </div>

        <div
          th:replace="~{parts/pagination :: pagination(page=${castPage})}"
        ></div>

        <table class="table table-bordered table-hover align-middle">
          <thead>
            <tr class="table-dark">
              <th>Name</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="cast: ${castPage.content}">
              <td>
                <a
                  th:href="@{'/cast/detail/' + ${cast.id}}"
                  th:text="${cast.name}"
                  class="text-decoration-none"
                ></a>
              </td>
              <td class="text-center">
                <a
                  th:if="${not #strings.isEmpty(cast.link)}"
                  th:href="${cast.link}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="btn btn-sm btn-link"
                  >Link</a
                >
                <span th:unless="${not #strings.isEmpty(cast.link)}">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
