<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <title>Music</title>
  </head>

  <body>
    <div layout:fragment="content">
      <div class="mt-3 mb-4 border-bottom pb-2">
        <h1 class="h2 mb-3">Music Management</h1>

        <!-- タブメニュー -->
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              class="nav-link active bg-dark text-white"
              th:href="@{/music/list}"
              >Music</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/artist/list}">Artist</a>
          </li>
        </ul>
      </div>

      <div>
        <div class="mb-2">
          <a class="btn btn-dark" th:href="@{'/music/register'}">Register</a>
        </div>
        <div
          th:replace="~{parts/pagination :: pagination(page=${musicPage})}"
        ></div>
        <table class="table table-bordered table-hover align-middle">
          <thead>
            <tr class="table-dark">
              <th>Music Name</th>
              <th>Artist Name</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="music: ${musicPage.content}">
              <td>
                <a
                  th:href="@{'/music/detail/' + ${music.id}}"
                  th:text="${music.name}"
                  class="text-decoration-none"
                ></a>
              </td>
              <td
                th:text="${music.artistId != null ? artistMap.get(music.artistId) : ''}"
              ></td>
              <td class="text-center">
                <a
                  th:if="${not #strings.isEmpty(music.link)}"
                  th:href="${music.link}"
                  target="_blank"
                  class="btn btn-sm btn-link"
                  >Link</a
                >
                <span th:unless="${not #strings.isEmpty(music.link)}">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
