<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">
<head>
<title>Login</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="card text-center mt-5">
				<div class="card-header text-bg-dark">
					<h1 class="h4">Login</h1>
				</div>
				<div class="card-body">
					<form method="post" th:action="@{/login}">
						<p th:if="${param.error}" class="error">UserId or Password is
							incorrect.</p>
						<div class="mb-3">
							<input type="text" class="form-control" placeholder="UserID"
								name="userId">
						</div>
						<div class="mb-3">
							<input type="text" class="form-control" placeholder="Password"
								name="password">
						</div>
						<div class="mb-3">
							<input type="submit" value="login" class="btn btn-primary" />
						</div>
					</form>
					<a th:href="@{/user/signup}">SignUp</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
