<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tarosuke777.hms.repository.AuthorMapper">  

    <select id="findMany" resultType="AuthorEntity" >
        select 
             author_id
            ,author_name
        from 
            author 
    </select>
    
    <select id="findOne" resultType="AuthorEntity">
        select 
             author_id
            ,author_name
        from 
            author 
        where author_id = #{authorId}
    </select>

    <insert id="insertOne">
        insert into author (author_name) 
        values (#{authorName})
    </insert>
    
     <update id="updateOne">
        update 
            author 
        set
             author_name = #{authorName}
        where
            author_id = #{authorId} 
    </update>
    
    <delete id="deleteOne">
        delete from
            author
        where
            author_id = #{authorId}
    </delete>
  
</mapper>