<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tarosuke777.hms.repository.DiaryMapper">

    <resultMap type="DiaryEntity" id="diary">
        <id column="diary_id" property="diaryId" />
        <result column="diary_date" property="diaryDate" />
        <result column="todo_plan" property="todoPlan" />
        <result column="todo_actual" property="todoActual" />
        <result column="fun_plan" property="funPlan" />
        <result column="fun_actual" property="funActual" />
        <result column="comment_plan" property="commentPlan" />
        <result column="comment_actual" property="commentActual" />
    </resultMap>

    <select id="findMany" resultMap="diary" >
        select
             diary_id
            ,diary_date
            ,todo_plan
            ,todo_actual
            ,fun_plan
            ,fun_actual
            ,comment_plan
            ,comment_actual
        from
            diary
        order by diary_id
    </select>

    <select id="findOne" resultMap="diary">
        select
             diary_id
            ,diary_date
            ,todo_plan
            ,todo_actual
            ,fun_plan
            ,fun_actual
            ,comment_plan
            ,comment_actual
        from
            diary
        where
            diary_id = #{diaryId}
    </select>

    <insert id="insertOne">
        insert into diary (diary_date, todo_plan, todo_actual, fun_plan, fun_actual, comment_plan, comment_actual)
        values (#{diaryDate}, #{todoPlan}, #{todoActual}, #{funPlan}, #{funActual}, #{commentPlan}, #{commentActual})
    </insert>

    <update id="updateOne">
        update
            diary
        set
              diary_date = #{diaryDate}
             ,todo_plan = #{todoPlan}
             ,todo_actual = #{todoActual}
             ,fun_plan = #{funPlan}
             ,fun_actual = #{funActual}
             ,comment_plan = #{commentPlan}
             ,comment_actual = #{commentActual}
        where
            diary_id = #{diaryId}
    </update>

    <delete id="deleteOne">
        delete from
            diary
        where
            diary_id = #{diaryId}
    </delete>

</mapper>