<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tarosuke777.hms.repository.MusicMapper">

	<resultMap type="MusicEntity" id="music">
		<id column="music_id" property="musicId" />
		<result column="music_name" property="musicName" />
		<association property="artist" resultMap="artist" />
	</resultMap>
	<resultMap type="ArtistEntity" id="artist">
		<id column="artist_id" property="artistId" />
		<result column="artist_name" property="artistName" />
	</resultMap>
		
	<select id="findMany" resultMap="music" >
		select 
			 music.music_id
			,music.music_name
			,artist.artist_id
			,artist.artist_name
		from 
			music
		left outer join artist 
		on music.artist_id = artist.artist_id
	</select>
	
	<select id="findOne" resultMap="music">
        select 
             music.music_id
            ,music.music_name
            ,artist.artist_id
            ,artist.artist_name
        from 
            music
        left outer join artist 
        on music.artist_id = artist.artist_id
        where 
			music.music_id = #{musicId}
	</select>
	
	<insert id="insertOne">
        insert into music (music_name, artist_id) 
        values (#{musicName}, #{artistId})
    </insert>
	
	<update id="updateOne">
        update 
            music 
        set
              music_name = #{musicName}
             ,artist_id = #{artistId}
        where
            music_id = #{musicId} 
    </update>
    
    <delete id="deleteOne">
        delete from
            music
        where
            music_id = #{musicId}
    </delete>
	
</mapper> 