<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarosuke777.hms.repository.TaskRepository">
    <select id="findAll" resultType="com.tarosuke777.hms.entity.TaskEntity">
        SELECT
            id,
            name,
            note,
            created_at AS "createdAt",
            updated_at AS "updatedAt"
        FROM
            task
        ORDER BY
            id
    </select>

    <select id="findById" resultType="com.tarosuke777.hms.entity.TaskEntity">
        SELECT
            id,
            name,
            note,
            created_at AS "createdAt",
            updated_at AS "updatedAt"
        FROM
            task
        WHERE
            id = #{id}
    </select>

    <insert id="create" parameterType="com.tarosuke777.hms.entity.TaskEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task (
            name,
            note
        ) VALUES (
            #{name},
            #{note}
        )
    </insert>

    <update id="update" parameterType="com.tarosuke777.hms.entity.TaskEntity">
        UPDATE
            task
        SET
            name = #{name},
            note = #{note},
            updated_at = CURRENT_TIMESTAMP
        WHERE
            id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM
            task
        WHERE
            id = #{id}
    </delete>
</mapper>
