<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tarosuke777.hms.repository.UserMapper">

    <select id="findLoginUser" resultType="UserEntity" >
        select
             user_id
            ,user_name
            ,password
            ,role
        from
            user
        where
            user_name = #{userName}
    </select>

    <select id="findMany" resultType="UserEntity" >
        select 
             user_id
            ,user_name
            ,role
        from 
            user
    </select>
    
    <select id="findOne" resultType="UserEntity">
        select 
             user_id
            ,user_name
            ,role
        from 
            user
        where 
            user_id = #{userId}
    </select>

    <insert id="insertOne">
        insert into user(
            password
           ,user_name
           ,role
        )
        values(
            #{password}
           ,#{userName}
           ,#{role}
        )
    </insert>

    <update id="updateOne">
        update 
            user
        set
             <if test="password != null">
                password = #{password}
             </if>
            ,user_name = #{userName}
        where
            user_id = #{userId} 
    </update>

    <delete id="deleteOne">
        delete from
            user
        where
            user_id = #{userId}
    </delete>

</mapper>