<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Parts</title>
  </head>

  <body>
    <nav
      th:fragment="pagination(page)"
      th:if="${page != null and page.totalPages > 1}"
      aria-label="Page navigation"
      th:with="
        start=${T(java.lang.Math).max(0, page.number - 2)},
        end=${T(java.lang.Math).min(page.totalPages - 1, page.number + 2)}"
    >
      <ul class="pagination">
        <!-- 前へボタン -->
        <li class="page-item" th:classappend="${page.first} ? 'disabled'">
          <a
            class="page-link"
            hms:page-href="${page.number - 1}"
            aria-label="Previous"
            >&laquo;</a
          >
        </li>

        <!-- ページ番号 -->
        <li
          class="page-item"
          th:each="i : ${#numbers.sequence(start, end)}"
          th:classappend="${i == page.number} ? 'active'"
        >
          <a class="page-link" hms:page-href="${i}" th:text="${i + 1}">1</a>
        </li>

        <!-- 次へボタン -->
        <li class="page-item" th:classappend="${page.last} ? 'disabled'">
          <a
            class="page-link"
            hms:page-href="${page.number + 1}"
            aria-label="Next"
            >&raquo;</a
          >
        </li>
      </ul>
    </nav>
  </body>
</html>
